@model IEnumerable<SensorsStatisticsModel>
@{
    ViewData[ViewKeys.Title] = "Sensor: Statistics - Venjix";
    ViewData[ViewKeys.PageHeading] = "Sensors Statistics";
    ViewData[ViewKeys.PageSubheading] = "View summaries of recorded data.";
}

<vc:header-panel page-heading="@ViewData[ViewKeys.PageHeading]" page-subheading="@ViewData[ViewKeys.PageSubheading]"
                 action="" action-label="" controller="" action-icon=""></vc:header-panel>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            @if (TempData[ViewKeys.Message] != null)
            {
                <div class="alert alert-@((bool)TempData[ViewKeys.IsSuccess] == true ? "success" : "danger")" role="alert">
                    @TempData[ViewKeys.Message]
                </div>
            }

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Recorded Data</th>
                        <th>Last Update</th>
                        <th>Export</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sensor in Model)
                    {
                        <tr>
                            <td>@sensor.DisplayName</td>
                            <td>@sensor.RecordedData</td>
                            <td>@sensor.LastUpdated</td>
                            <td><a class="btn btn-outline-primary" asp-action="Download" asp-route-sensorId="@sensor.SensorId">Export</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable();
        });
    </script>
}