@{
    ViewData[ViewKeys.Title] = "Manage Users - Venjix";
    ViewData[ViewKeys.PageHeading] = "Manage Users";
    ViewData[ViewKeys.PageSubheading] = "Add, edit, and delete users.";
}


<h1 class="h3 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info"></i>
    </a>
</h1>

<div class="card shadow mb-4">

    <div class="card-body">
        @if (TempData[ViewKeys.Message] != null)
        {
            <div class="alert alert-@((bool)TempData[ViewKeys.IsSuccess] == true ? "success" : "danger")" role="alert">
                @TempData[ViewKeys.Message]
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                serverSide: true,
                ajax: {
                    url: '@(Url.Action("TableData"))',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { name: "Username", data: "username", title: "Username" },
                    { name: "Role", data: "role", title: "Role" },
                    { title: "Manage", data: null, defaultContent: '<button class="btn btn-outline-primary">Edit</button> <button class="btn btn-outline-danger">Delete</button>' }
                ]
            });

            $('#dataTable tbody').on('click', 'button', function () {
                var button = $(this).text()
                var data = table.row($(this).parents('tr')).data();

                if (button == 'Edit') {
                    window.location.href = '@(Url.Action("Edit", "Users"))/' + data.userId
                } else {
                    window.location.href = '@(Url.Action("Delete", "Users"))/' + data.userId
                }
            });
        });
    </script>
}