@{
    ViewData[ViewKeys.Title] = "Users - Venjix";
    ViewData[ViewKeys.PageHeading] = "Manage Users";
    ViewData[ViewKeys.PageSubheading] = "Add, edit, and delete users.";
}

<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h4 class="h4 mb-0 text-gray-800">
        @ViewData[ViewKeys.PageHeading]
        <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
            <i class="fas fa-info fa-xs "></i>
        </a>
    </h4>

    <a asp-action="Add" asp-controller="Users" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add User</a>
</div>

<div class="card shadow mb-4">

    <div class="card-body">
        @if (TempData[ViewKeys.Message] != null)
        {
            <div class="alert alert-@((bool)TempData[ViewKeys.IsSuccess] == true ? "success" : "danger")" role="alert">
                @TempData[ViewKeys.Message]
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
</div>

@section Styles {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                serverSide: true,
                ajax: {
                    url: '@(Url.Action("TableData"))',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { name: "Username", data: "username", title: "Username" },
                    { name: "Role", data: "role", title: "Role" },
                    {
                        title: "Manage",
                        width: '200px', data: null, defaultContent: '<button id="Edit" class="btn btn-transparent-dark mr-2 btn-sm">Edit</button><button class="btn btn-transparent-dark mr-2 btn-sm">Delete</button>' }
                ]
            });

            $('#dataTable tbody').on('click', 'button', function () {
                var button = $(this).text()
                var data = table.row($(this).parents('tr')).data();

                if (button == 'Edit') {
                    window.location.href = '@(Url.Action("Edit", "Users"))/' + data.userId
                } else {
                    window.location.href = '@(Url.Action("Delete", "Users"))/' + data.userId
                }
            });
        });
    </script>
}